body {

}

#banner {
    width: 100%
}

.principal {
    background-color: #cccccc;
 padding: 30px;
}
.titulo-centralizado{
    padding: auto;
}
p {
    text-align: center;
}

#missão {
    font-size: italic;
}

em strong {
    color: red;
}

.itens {
    font-size: italic;
}
 .beneficios {
    background-color: #FFFFFF;
}




ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%;
}


    









